<section style="padding: 58px">
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Decimal</mat-label>
    <input type="text" matInput decimal placeholder="Decimal">
  </mat-form-field>
</section>
<section style="padding: 58px">
  <p>
    {{cpf | cpfCnpj}}
  </p>
  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>CPF Cnpj</mat-label>
    <input type="text" matInput [(ngModel)]="cpf" maxlength="14" placeholder="CPF Cnpj">
  </mat-form-field>
</section>
<section style="padding: 58px">

  <mat-form-field class="example-form-field" appearance="outline">
    <mat-label>Numbers Only</mat-label>
    <input type="text" matInput onlyNumber placeholder="Numbers Only" [allowComma]="allowComma" [allowDot]="allowDots">
  </mat-form-field>
  <div style="display: flex; gap: 12px; margin-bottom: 12px">
    <mat-slide-toggle class="example-margin" [(ngModel)]="allowComma">
      allow Comma
    </mat-slide-toggle>
    <mat-slide-toggle class="example-margin" [(ngModel)]="allowDots">
      Allow Dots
    </mat-slide-toggle>
  </div>
</section>
<section style="padding: 58px">

  <div class="json" [innerHTML]="json | prettyprint">

  </div>
</section>