.json {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.69);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.69);
    padding: 24px;
    overflow: auto;
    max-width: 75vw;
}